.daySchedule {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    position: relative;
}

.scrollableContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.classesContainer {
    flex: 1;
    max-width: 640px;
    padding: 1rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.weekendContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.weekendText {
    text-align: center;

    color: #CCCCCC;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}