.daySchedule {

}

.header {
    padding: 1rem;
    background-color: #F3F7FF;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.dayName {
    text-align: center;
}

.classesContainer {
    padding: 1rem 2rem;
    background-color: white;
}

.weekendContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.weekendText {
    text-align: center;

    color: #CCCCCC;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}