.dayHeader {
    height: 60px;

    display: flex;
    align-items: center;
    background-color: #F3F7FF;

    position: relative;
}

.dayHeaderContent {
    flex: 1;

    padding: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.dayName {
    text-align: center;
    font-weight: 500;
}

.weekSwitcher {
    composes: buttonStylesReset from '../../../SharedStyles.module.css';
    text-transform: uppercase;
    text-align: center;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    composes: clickableElement from '../../../SharedStyles.module.css';
}

.weekSwitcherText {
    color: #A8A7B5;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.weekSwitcherIcon {
    margin-left: 0.2rem;
}