.appHeader {
    height: 75px;

    display: flex;
    align-items: center;
}

.appHeaderContainer {
    max-width: 640px;
    margin: auto;
}

.logo {
    width: 22px;
    margin-left: 2rem;
    margin-right: 1rem;
}

.titleContainer {
    flex-grow: 1;
}

.title {
    font-family: 'Roboto Slab', 'Courier New', Courier, monospace;
    line-height: 1.8rem;
    letter-spacing: 1px;
}

.subtitle {
    color: #C0C3CF;
    font-size: 1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}
