.classItem {
    display: flex;
    align-items: center;

    padding: 1.5rem 2rem;

    border-radius: 0.3rem;

    overflow-x: auto;
}

.current {
    background-color: #99B9F5;
}


.timeColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 5rem;
    margin-right: 1rem;
}

.beginTime {
    font-weight: 500;
}

.current .beginTime {
    color: white;
}

.endTime {
    font-size: 1rem;
    line-height: 1rem;
    color: #9C9C9C;
}

.current .endTime {
    color: #395890;
}

.infoColumn {
    flex-grow: 1;
}

.lesson:not(:first-child) {
    margin-top: 2rem;
}

.infoRow {
    display: flex;
    align-items: center;
}

.primaryInfo {
    composes: infoRow;
}

.secondaryInfo {
    composes: infoRow;
    margin-top: 0.4rem;
}

.name {
    flex-grow: 1;

    font-size: 1.4rem;
    line-height: 1.6rem;
}

.current .name {
    color: white;
}

.groupName {
    composes: textRegularCondensed from '../../../../SharedStyles.module.css';

    margin: 0 1rem;

    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.type {
    width: 22px;
    height: 22px;
}

.teacher {
    flex-grow: 1;

    composes: buttonStylesReset from '../../../../SharedStyles.module.css';

    color: #9C9C9C;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: lighter;

    composes: clickableElement from '../../../../SharedStyles.module.css';
}

.current .teacher {
    color: #395890;
}

.place {
    margin-left: 1rem;
    padding: 0 0.5rem;

    color: #9C9C9C;
    font-size: 0.9rem;
    line-height: 1.1rem;

    border: 1px solid #9C9C9C;
    border-radius: 1px;

    text-transform: uppercase;
}

.current .place {
    color: #395890;
    border-color: #395890;
}