body {
    height: 100vh;
    margin: 0;
    background-color: #202020;
}

#root {
    height: 100%;
}

/* For testing purposes */
@media (min-width: 640px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #root {
        width: 360px;
        height: 590px;
    }
}
