.viewContentContainer {
    flex: 1;
}

.viewContent {
    max-width: 640px;
    height: 100%;
    min-height: 100vmin;
    margin: 0 auto;

    background-color: white;
    position: relative;
}

.scrollContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: auto;
    padding: 2rem;
}